.winner{
	color :#eda4e4;
}

h1{
	color: #faf60f;
}

body{
	font-family: 'Open Sans',sans-serif;
	text-align: center;	
	color: white;
	background-color: #6857e6;
}

.trophy{
	padding-top: 60px;
}